
	ul.tabselector {
		list-style-type: none;
		margin: 6px 0px 0px 0px;
		bottom:-2px;
		position:relative;
	}
	ul.tabselector li {
		margin: 0px 4px;
		display: inline;
		padding: 4px 10px;
		
		-moz-border-radius-topright:6px;
		-moz-border-radius-topleft:6px;

		-webkit-border-top-right-radius:6px;
		-webkit-border-top-left-radius:6px;

		border-top-right-radius: 6px; 
		border-top-left-radius: 6px; 

		border-color:#eaeaea;
		border-style:solid;
		border-width:2px 1px 0px 1px;
		background: #eaeaea;
		text-shadow:1px 1px 0 #fff; 
		color:gray; 
		font-weight: bold;
		font-size:13px;
		cursor: pointer;
	}

	ul.tabselector li.active { color:#000; background: #fff; padding-bottom: 7px; text-shadow:1px 1px 0 #eee; }
	ul.tabselector li.inactive { padding-bottom: 6px; text-shadow:1px 1px 0 #fff; }
	ul.tabselector li:active { color:#000;  }		

	
	fieldset { 
		border:1px solid #bcbcbc;
	}


	

	
