.overTxtLabel{
	color:silver;
	font-style:italic;
}

#map-toolbar {
	position:absolute; 
	height: 25px; 
	padding:4px; 
	left:0px;
	top:85px;
	right:0px;
	z-index:6;
	border-top: 1px solid #BCBCBC;
	border-bottom: 1px solid #BCBCBC;
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
}

#map {
	
	position:absolute; left:0px;top:115px;right:0px;bottom:0px;z-index:-1;
}

#map-sidebar {	
	position:absolute; 
	padding:0px; 
	left:0px;
	top:119px;
	width:380px;
	z-index:1500;
	bottom:0px;
	background-color:#FFF; 
}
#map-sidebar.vertshadow {
-webkit-box-shadow: 2px 0px 6px 0px rgba(0, 0, 0, 0.25);
-moz-box-shadow: 2px 0px 6px 0px rgba(0, 0, 0, 0.25);
box-shadow: 2px 0px 6px 0px rgba(0, 0, 0, 0.25);
}	

#map-sidebar-header{
	height:35px;
	background-color:#FFF; 
}
#map-sidebar-slide-toggle-hide{
	border-left:1px solid #F5F5F5;
	border-bottom:1px solid #F5F5F5;
	background-color:#FFF;
	position:absolute;
	right:0px;
	top:0px;
	padding:5px;
	cursor:pointer;
}
#map-sidebar-slide-toggle-show{
	position:absolute;
	*top:0px;
	background-color:#FFF;
	left:0px;
	top:120px;
	width:11px;
	height:19px;
	padding:2px; 
	border-right:1px solid gray;
	border-bottom:1px solid gray;
	border-top:1px solid #E0E0E0;
	cursor:pointer;
	z-index:7;
}
#map-sidebar-content{
	clear: both; 
	display: block; 
	background-color:white; 
	position:absolute; 
	z-index:-1; 
	bottom:0px; 
	*bottom:25px; 
	top:37px; 
	width:100%;  
}
#map-sidebar-footer{
	border-top:0px solid #E0E0E0; 
	background-color:white; 
	width:100%; height:25px; 
	position:absolute; 
	bottom:0px; 
	z-index:21003;

}

#map-bottombar {	
	position:absolute; 
	padding:0px; 
	left:0px;
	right:0px;
	height:250px;
	z-index:1502;
	bottom:0px;
	background-color:#FFF; 
	border-top:1px solid #EAEAEA;
}
.bottombar-content{
	padding:2px;
	width:100%;
	height:240px;
}
#map-bottombar-shadow {	
	position:absolute; 
	padding:0px; 
	left:0px;
	right:0px;
	height:5px;
	z-index:1501;
	bottom:0px;
	background-color:red; 
}
#map-bottombar-shadow.horzshadow {
-webkit-box-shadow: 2px 0px 6px 0px rgba(0, 0, 0, 0.25);
-moz-box-shadow: 2px 0px 6px 0px rgba(0, 0, 0, 0.25);
box-shadow: 2px 0px 6px 0px rgba(0, 0, 0, 0.25);
}	
#map-bottombar-slide-toggle-hide{
	border-right:1px solid #F5F5F5;
	border-bottom: 1px solid #EAEAEA;
	background-color:#FFF;
	position:absolute;
	left:0px;
	top:0px;
	padding:5px;
	cursor:pointer;
}
#map-bottombar-slide-toggle-show{
	position:absolute;
	background-color:#FFF;
	left:0px;
	bottom:0px;
	*width:19px;
	height:11px;
	padding:2px; 
	border-right:1px solid gray;
	border-top:1px solid gray;
	border-bottom:1px solid #E0E0E0;
	cursor:pointer;
	z-index:1500;
}

div.dropeddown-container{
	background-color:#fff;
	border:1px solid gray;
	width:288px;
	height:150px;
	position:absolute;
	z-index:1;
	overflow: hidden;
}
div.dropeddownexp-container{
	background-color:#fff;
	border:1px solid whitesmoke;
	width:288px;
	height:150px;
	position:absolute;
	z-index:1;
	overflow: hidden;
}
	a.tabcontentLink:link {  font-weight:normal !important; font-style:normal !important; color: blue; }
	a.tabcontentLink:visited {  font-weight:normal !important; font-style:normal !important; color: blue; }
	a.tabcontentLink:hover { text-decoration: underline; font-weight:normal !important; font-style:normal !important; color: blue; }
	a.tabcontentLink:active {  font-weight:normal !important; font-style:normal !important; color: blue; }

	ul.tabselector {
		list-style-type: none;
		bottom:-2px;
		position:relative;
	}
	ul.tabselector li {
		margin: 10px 4px;
		display: inline;
		padding: 10px 22px;
		
		-moz-border-radius-topright:6px;
		-moz-border-radius-topleft:6px;

		-webkit-border-top-right-radius:6px;
		-webkit-border-top-left-radius:6px;

		border-top-right-radius: 6px; 
		border-top-left-radius: 6px; 

		border-color:#eaeaea;
		border-style:solid;
		border-width:1px 1px 0px 1px;
		background: #eaeaea;
		
		cursor: pointer;
	
		background-repeat: no-repeat;
	}

	ul.tabselector li.active {  
		background: #fff; 
		padding-bottom: 7px;  
		background-position: 50% 50%;}
	ul.tabselector li.inactive { 
		background-color:#fff;
		border-right:1px solid #eaeaea;
		-khtml-opacity:.50; 
		-moz-opacity:.50; 
		-ms-filter:"alpha(opacity=50)";
		filter: alpha(opacity=50);
		filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.5);
		opacity:.50; 	
		
		padding-bottom: 6px;  
		background-position: 50% 60%;
		}
	ul.tabselector li:active { 
		color:#000;  
		background-position: 50% 50%;
	}	
	ul.tabselector li:hover { 
		background-position: 50% 50%;
		-khtml-opacity:1.0; 
		-moz-opacity:1.0; 
		-ms-filter:"alpha(opacity=100)";
		filter: alpha(opacity=100);
		filter: progid:DXImageTransform.Microsoft.Alpha(opacity=1.0);
		opacity:1.0; 
	}		
	ul.tabselector li.item0 {
		background-image: url(tabselector-item0.png);
		background-repeat: no-repeat;	
	}
	ul.tabselector li.item1 {
		background-image: url(tabselector-item1.png);
		background-repeat: no-repeat;	
	}
	ul.tabselector li.item2 {
		background-image: url(tabselector-item2.png);
		background-repeat: no-repeat;	
	}
	ul.tabselector li.item3 {
		background-image: url(tabselector-item3.png);
		background-repeat: no-repeat;	
	}	
	ul.tabselector li.item4 {
		background-image: url(tabselector-item4.png);
		background-repeat: no-repeat;	
	}	
	ul.tabselector li.item5 {
		background-image: url(tabselector-item5.png);
		background-repeat: no-repeat;	
	}
	ul.tabselector li.item9 {
		background-image: url(tabselector-item9.png);
		background-repeat: no-repeat;	
		*margin-left:90px;
		border-width:0px !important;
	}

	
	div.salesinfo{
		-webkit-border-radius: 14px 0 14px 14px;
		border-radius: 14px 0 14px 14px;	
		-moz-border-radius: 14px 0 14px 14px;	
		border-color:#eaeaea;
		padding: 0px;
		border-width: 5px;
		border-style:solid;
		background-color:rgba(255,243,178,0.9);
		top: 35px;
		left: 100px;
		-webkit-box-shadow: 0px 10px 15px rgba(50, 50, 50, 0.3);
		-moz-box-shadow:    0px 10px 15px rgba(50, 50, 50, 0.3);
		box-shadow:         0px 10px 15px rgba(50, 50, 50, 0.3);	
	}
	
	ul.dashboardselector{
		list-style: none;
		margin: 0;
		padding: 0;
	}
	
	ul.dashboardselector li {
		border-color:#eaeaea;
		border-style:solid;
		border-width:1px 0px 1px 1px;
		padding: 18px 0 18px 0px;
		margin: 7px 0;	
		-moz-border-radius-bottomleft:6px;
		-moz-border-radius-topleft:6px;

		-webkit-border-bottom-left-radius:6px;
		-webkit-border-top-left-radius:6px;

		border-bottom-left-radius: 6px; 
		border-top-left-radius: 6px; 
		cursor: pointer;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}
	
	ul.dashboardselector li.item11 {
		background-image: url(dasboard-item11.png);
	}
	ul.dashboardselector li.item12 {
		background-image: url(dasboard-item12.png);
	}
	ul.dashboardselector li.item13 {
		background-image: url(dasboard-item13.png);
	}
	ul.dashboardselector li.item14 {
		background-image: url(dasboard-item13.png);
	}	
	ul.dashboardselector li.item15 {
		background-image: url(dasboard-item15.png);
	}
	ul.dashboardselector li.item21 {
		background-image: url(dasboard-item21.png);
	}
	ul.dashboardselector li.item22 {
		background-image: url(dasboard-item22.png);
	}
	ul.dashboardselector li.item23 {
		background-image: url(dasboard-item23.png);
	}	
	ul.dashboardselector li.item24 {
		background-image: url(dasboard-item24a.png);
	}	
	ul.dashboardselector li.item25 {
		background-image: url(dasboard-item25.png);
	}
	ul.dashboardselector li.item31 {
		background-image: url(dasboard-item31.png);
	}
	ul.dashboardselector li.item32 {
		background-image: url(dasboard-item32.png);
	}
	ul.dashboardselector li.item33 {
		background-image: url(dasboard-item33.png);
	}
	ul.dashboardselector li.item41 {
		background-image: url(dasboard-item41.png);
	}
	ul.dashboardselector li.item42 {
		background-image: url(dasboard-item42.png?s=0);
	}
	ul.dashboardselector li.item43 {
		background-image: url(dasboard-item43.png);
	}
	ul.dashboardselector li.active { 	
		background-color:#fff;
		border-width:1px 0px 1px 2px;
	}
	ul.dashboardselector li.inactive { 
		background-color:#fff;
		border-right:1px solid #eaeaea;
		-khtml-opacity:.50; 
		-moz-opacity:.50; 
		-ms-filter:"alpha(opacity=50)";
		filter: alpha(opacity=50);
		filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.5);
		opacity:.50; 		
	}
	ul.dashboardselector li:active { background-position: 50% 60%;}	
	
	
	
	ul.maptoolselector {
		list-style-type: none;
		margin-top: -2px;
		padding: 2px;
		
	}
	ul.maptoolselector li {
		margin: 0px;
		display: inline;
		padding: 6px 4px;

		border-color:#A5A5A5;
		border-style:solid;
		border-width:1px 1px 1px 1px;
		background: transparent;
		
		color:#212121; 
		font-weight: bold;
		font-size:10px;
		cursor: pointer;
	}

	ul.maptoolselector li.normal { 		
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		border-radius: 6px; 
	}
	ul.maptoolselector li.dropingdown { 
		-moz-border-radius-topright:6px;
		-moz-border-radius-topleft:6px;

		-webkit-border-top-right-radius:6px;
		-webkit-border-top-left-radius:6px;

		border-top-right-radius: 6px; 
		border-top-left-radius: 6px; 
	}
	ul.maptoolselector li.active { color:#00137F; background: #eaeaea;}
	ul.maptoolselector li.inactive { color:#000; }
	ul.maptoolselector li:active { color:#0000FF; background: #eaeaea; }	
	ul.maptoolselector li.dropdownitem { 
		position:absolute; 
		padding:3px; 
		margin:-2px 2px 2px 2px;
		width:120px;
		-moz-border-radius:0px;
		-webkit-border-radius:0px;
		border-radius: 0px; 
		border-color:#A5A5A5;
		border-style:solid;
		border-width:0px 1px 1px 1px;
		background: #EFEFFF;
		color:#00137F; 
	}	
	
	.maptoolimg{position:relative;top:4px;}
	.maptoolbookmark{background: #EFEFFF;font-size:11px;}
	
	div.bookmarkitem{
		margin:2px;
		display:block;
		background: #EFEFFF;
		color:#00137F;
		cursor:pointer;
		height: 20px;
	}
	div.bookmarkitem img.itemtext{   		
		float:left;
		cursor: pointer;
	}
	div.bookmarkitem img.itemdelete{   		
	   cursor: pointer;
		float: right;
		margin-top: -16px;
	}
	
	ul.subtabselector {
		list-style-type: none;
		margin: 4px 0px 0px -25px;
		position:relative;
		top:4px;
	}
	ul.subtabselector li {
		margin: 0px 2px;
		display: inline;
		padding: 2px 13px;
		
		-moz-border-radius:9px;
		-moz-border-radius:9px;

		-webkit-border-radius:9px;
		-webkit-border-radius:9px;

		border-radius: 9px; 
		border-radius: 9px; 

		border-color:#eaeaea;
		border-style:solid;
		border-width:1px 1px 1px 1px;
		background: #eaeaea;
		*text-shadow:1px 1px 0 #fff; 
		color:gray; 
		*font-weight: bold;
		font-size:10px;
		cursor: pointer;
		font-style: italic;
	}
	ul.subtabselector li.active { 
		color:#000; background: #fff;
		border-width: 2px;
		font-weight: bold;
	}
	ul.subtabselector li.inactive { color:gray;}
	ul.subtabselector li:active { color:blue;}	
	
	div.sectiontitle{
		font-weight:bold;
		color:black;
		border-bottom: 1px dotted #F2F2F2;
		margin-bottom: 4px;
	}
	div.dgsectionrow{
		margin-bottom:5px;
		margin-top:5px; 
		border: 1px solid #F2F2F2;
		padding:5px;
		
		font-size:11px;
		-moz-border-radius: 5px; 		
		-webkit-border-radius:5px;		
		border-radius: 5px;
		
		*-webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.25);
		*-moz-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.25);
		*box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.25);
	}
	div.dgsectioncontent{
		*padding:0px 0px 0px 10px;
		margin:0px 0px 10px 10px;
	}
	div.dgcontentitemcaption{
		color:gray;
	}
	span.dgcontentitem{
		color:black;
	}
	
	img.cfeaturepopupthumb{
		position:absolute;
		top:21px;
		right:5px;
		-webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.5);
		box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.5);
	}
	div.cfeaturepopupcontent{
		width:350px;
		font-size:12px;
		overflow-x: hidden;
		overflow-y: auto;
	}
	div.cfeaturepopupcontent span.popupcontentitem{
		color:gray;
	}
	
		
	a.nocoordinate{ 
		display:inline;
		height:17px; width:17px; 
		background:url(../../images/icons/master/symbolize-icons-set/png/16x16/map.png) 0 0 no-repeat; 
		opacity:0.5;
		filter:alpha(opacity=50); /* For IE8 and earlier */		
	}
	a.nocoordinate:hover{ 	
		*background-position:0 -17px; 		
		opacity:1.0;
		filter:alpha(opacity=100); /* For IE8 and earlier */	
	}
	a.lookup{ 
		display:inline;
		height:17px; width:17px; 
		background:url(../../images/ui-elements/buttons/look-up.png) 0 0 no-repeat; 
		opacity:0.5;
		filter:alpha(opacity=50); /* For IE8 and earlier */		
	}
	a.lookup:hover{ 	
		background-position:0 -17px; 		
		opacity:1.0;
		filter:alpha(opacity=100); /* For IE8 and earlier */	
	}
	a.photoview{ 
		display:inline;
		height:17px; width:17px; 
		background:url(../../images/ui-elements/buttons/photo-view.png) 0 0 no-repeat; 
		opacity:0.5;
		filter:alpha(opacity=50); /* For IE8 and earlier */		
	}
	a.photoview:hover{ 	
		background-position:0 -17px; 		
		opacity:1.0;
		filter:alpha(opacity=100); /* For IE8 and earlier */	
	}
	
	div.maplegend{
		background-color:#F5F5F5;
		margin-right:16px;
		padding:4px 4px 4px 15px;
		font-size:10px;
		height:150px;
		overflow-x: hidden;
		overflow-y:auto;
	}
	ul.maplegend{
		list-style: none;
		margin: 0;
		padding: 0;
	}
	ul.maplegend li {
		background-repeat: no-repeat;
		background-position: 0 50%;
		padding: 3px 0 3px 24px;
		margin: .4em 0;
		font-size:11px;
	}
	ul.maplegend li.item1 {
		background-image: url(../../temp/mapmarker-sample/no-nuke-export-sm.png);
	}
	ul.maplegend li.item2 {
		background-image: url(../../temp/mapmarker-sample/no-nuke-export-sm.png);
	}
	ul.maplegend li.item3 {
		background-image: url(../../temp/mapmarker-sample/poweroutage-sm.png);
	}
	ul.maplegend li.item4 {
		background-image: url(../../temp/mapmarker-sample/powerplant-sm.png);
	}

.exportItem {
	font-size:9px;
	font-weight:bold;
	cursor:pointer;
	margin:0px 0px 0px 5px;
	font-size: 7pt;
	text-align: left;
	white-space: nowrap;
	width:auto;
	color:#fff;
}
.exportItemContainer {
	margin: 5px;
	padding: 4px;
	border: solid 1px #CEE2F2;
	background-color: #F0F5FF;	
	border: solid 1px #E8E8E8;
	background-color: #F7F7F7;
	overflow: hidden;
}
	.regionname-label {
		background: none repeat scroll 0 0 #F9D94E;
		border: 0 none;
		border-radius: 2px 2px 2px 2px;
		color: gray;
		cursor: default;
		float: left;
		font: 9px "Lucida Grande",Verdana;
		padding: 1px 4px 1px 4px;
		margin-right:5px;
	}