body {
	margin:0;
	padding:0;
	color:#000;
	/*background: #ffffff;*/
	background-color:#F9F9F9; 
	font: 0.75em arial, sans-serif;
	overflow-x: hidden;
	overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
}


/* pane UI Menu Module Frame border */
.mmfLeft        { background-image: url(../images/ui-elements/containers-holder/navbg.gif); }
.mmfCenter  { background-image: url(../images/ui-elements/containers-holder/navbg.gif); }
.mmfRight       { background-image: url(../images/ui-elements/containers-holder/navbg.gif); }

/* pane UI Sub Menu Module frame border 
.smfLeft     { background-image: url(../images/ui-elements/containers-holder/smfLeft.gif); }
.smfRight    { background-image: url(../images/ui-elements/containers-holder/smfRight.gif); }
*/
/* pane UI Sub Menu Module Content frame border */
.smcLeft     { background:transparent url(../images/ui-elements/containers-holder/smc.png) repeat-x;}
.smcCenter    {  background:transparent url(../images/ui-elements/containers-holder/smc.png) repeat-x; }
.smcRight    {  background:transparent url(../images/ui-elements/containers-holder/smc.png) repeat-x; }
.smcBottomLeft     { background-image: url(../images/ui-elements/containers-holder/smcBottomLeft.gif); }
.smcBottomRight    { background-image: url(../images/ui-elements/containers-holder/smcBottomRight.gif); }
.smcBottom    { background-image: url(../images/ui-elements/containers-holder/smcBottom.gif); }

#logo{
	text-decoration:none;
	display:block;
	padding:7px 20px;
	*-moz-border-radius: 5px;
	*-webkit-border-radius: 5px;
	color:white;
	margin:0;
	float:left;	
	font-family:Arial Black,Helvetica,sans-serif;
}

#header {
	top:0;
	left:0;
	height:5em;
	color:#009;
	background:#ccc;
	border:3px solid #708090;
}

label {
	color:#055A78;
	font-size:12px;
}

hr.style13 {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
	margin-top:38px;
}

h1 {font-size: 26px; 
	font-family:Arial,Helvetica,sans-serif;
	font-weight:normal;
	text-shadow:-1px -1px 0 rgba(192,192,192,0.3);
	}

h2 {
	font-size: 20px; 
	color: #336390;
	margin: 6px 0px 2px;
 	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
	*font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif; 
	*font-family:Arial,Helvetica,sans-serif;
	*font-style: italic;
	font-weight:normal;
	*text-shadow:1px 1px 0 rgba(192,192,192,0.3);
	}
	
h3 {font-size: 18px; 
	color: #7F0000;
	margin: 6px 0px 2px;
	font-family:Arial,Helvetica,sans-serif;
	font-weight:normal;}
	
h4 {font-size: 16px; 
	color: #DD9E00;
	margin: 6px 0px 2px;
	font-family:Arial,Helvetica,sans-serif;
	font-weight:normal;}

#hde-loading-info{
	font-size:12px;
	font-family:Arial,Helvetica,sans-serif;
    width: 100px;
	padding: 2px 2px 2px 2px;
    text-align: center;
    position: absolute;
    top: 1px;
    left: 50%;
    margin-left: -50px;	
	background-color:red;
	color:yellow;
	font-weight:bold;
	z-index:1000000;
	
	-moz-border-radius-bottomright:4px;
	-moz-border-radius-bottomleft:4px;
	
	-webkit-border-bottom-right-radius:4px;
	-webkit-border-bottom-left-radius:4px;

	border-bottom-right-radius: 4px; 
	border-bottom-left-radius: 4px; 
}
#hde-messege-info {
	font-size:12px;
	font-family:Arial,Helvetica,sans-serif;
    width: 300px;
	padding: 2px 2px 2px 2px;
    text-align: center;
    position: absolute;
    top: 1px;
    left: 50%;
    margin-left: -150px;	
	background-color:red;
	color:yellow;
	font-weight:normal;
	z-index:1000000;
		
	-moz-border-radius-bottomright:4px;
	-moz-border-radius-bottomleft:4px;
	*-moz-border-radius: 4px; 
	
	-webkit-border-bottom-right-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	*-webkit-border-radius:4px;

	border-bottom-right-radius: 4px; 
	border-bottom-left-radius: 4px; 	
	*border-radius: 4px; 
/*
	font-size:1.2em;
	font-family:Arial,Helvetica,sans-serif;
    width: 300px;
    border: 1px solid silver;
	padding: 2px 2px 2px 2px;
    text-align: center;
    position: absolute;
    top: 63px;
    left: 50%;
    margin-left: -150px;	
	background-color:#9FBFD6;
	font-weight:bold;
	z-index:1000000;
*/
}
/*
border radius untuk labeling, just like in google mail
*/
.filter-label { 		
	position: relative; 
	*float:none;
	padding: 3px; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	border-radius: 3px; 
	border: 0px ; 
	background: #00DD00; 
	cursor: default; 
	*margin-top:3px;
	*margin-right:13px;
	*width:50%;
	color:#ffffff;
}
.messege-tips{
	font-size:12px;
	font-family:Arial,Helvetica,sans-serif;
	padding: 4px 4px 4px 4px;
    text-align: center;	
	background-color:yellow;
	color:red;
	font-weight:normal;
}


.copyr{    
	font-family:Arial,Helvetica,sans-serif;
    font-size:10px ;
    color:#545454;
}
#login-screen {
	margin-right:35%;
	padding:6em 12em 1em;
	border:0px solid #708090;

}

#login-field {
	position:absolute;
	top: 12em;
	right:0;
	width:35%;
	background: #f5f5f5;
	color: maroon;
	border:0px solid #c0c0c0;
}

#login-field  p {padding:0.5em;}

p.c {text-align: center;}

.buttonlink2 {
	padding: 4px;
	border: outset 2px Menu;
	color: #224059;
	background: #f0f0f0;
	text-decoration: none;
}

.plus-btn{
	padding:0px 0 0px 13px;
    display:inline;
	background:transparent url(../images/ui-elements/buttons/plus-min.png)  no-repeat scroll top left;
}
.min-btn{
	padding:0px 0 0px 13px;
    display:inline;
	background:transparent url(../images/ui-elements/buttons/plus-min.png)  no-repeat scroll top right;
}
.expnd-btn{
	padding:0px 0 0px 13px;
    display:inline;
	background:transparent url(../images/ui-elements/buttons/expnd-colps.png)  no-repeat scroll top left;
}
.colps-btn{
	padding:0px 0 0px 13px;
    display:inline;
	background:transparent url(../images/ui-elements/buttons/expnd-colps.png)  no-repeat scroll top right;
}
.stare-btn{
	padding:0px 0 0px 14px;
    display:inline;
	background:transparent url(../images/ui-elements/buttons/item-star.png)  no-repeat scroll top left;
}
.stard-btn{
	padding:0px 0 0px 14px;
    display:inline;
	background:transparent url(../images/ui-elements/buttons/item-star.png)  no-repeat scroll top left;
}

div.label-field-top{
	color:gray;
}
div.label-field-left{
	color:gray;
	float:left;
	margin-top:2px;
	margin-right:5px;
	*min-width:100px;
}

.pg-head-defbg
{	
	background-color: #3d3d3d;
	/*background-image: url(../images/ui-elements/containers-holder/u-pg.png);*/
	/*background-image: url(../images/ui-elements/containers-holder/navbg.gif);*/
}

/* Border Radius Defaults */
div.br-full-sm
{
	-moz-border-radius: 3px; 
	
	-webkit-border-radius:3px;
	
	border-radius: 3px; 
	
	height:auto;
	background-color:#FFF7D7;
	border-color:#FAD162;
	border-style:solid;
	border-width:2px 2px 2px 2px;
	padding:0px;
	margin: 0px auto;
	text-align:left;
}	
div.br-shadow
{
	-webkit-box-shadow: hsla(0, 0%, 50%, 0.5) 0px 0px 2px;
	-moz-box-shadow:0px 0px 2px rgba(150, 150, 150, 0.5);
	box-shadow:0px 0px 2px rgba(150, 150, 150, 0.5);
}

div.br-full
{
	-moz-border-radius: 7px; 
	
	-webkit-border-radius:7px;
	
	border-radius: 7px; 
	
	height:auto;
	background-color:#FFFFFF;
	border-color:#BCBCBC;
	border-style:solid;
	border-width:1px 1px 1px 1px;
	padding:0px;
	margin: 0px auto;
	text-align:left;
}	
div.br-botm
{			
	-moz-border-radius-bottomright:7px;
	-moz-border-radius-bottomleft:7px;
	
	-webkit-border-bottom-right-radius:7px;
	-webkit-border-bottom-left-radius:7px;

	border-bottom-right-radius: 7px; 
	border-bottom-left-radius: 7px; 
	
	height:auto;
	background-color:#FFFFFF;
	border-color:#BCBCBC;
	border-style:solid;
	border-width:0px 1px 1px 1px;
	padding:0px;
	margin: 0px auto;
	
}
div.br-head
{			
	-moz-border-radius-topright:7px;
	-moz-border-radius-topleft:7px;
	
	-webkit-border-top-right-radius:7px;
	-webkit-border-top-left-radius:7px;
	
	border-top-right-radius: 7px; 
	border-top-left-radius: 7px; 
	
	border-width:0px;
	
	border-color:#BCBCBC;
	border-style:solid;
	border-width:1px 1px 0px 1px;
	color:white;
	padding:2px;
	height:auto;
}	
.br-head-title
{
	*border-bottom:1px solid white;
	color:#336390;
	font-family:Arial;
	font-size:13px !important;
	margin-left:2px;
	font-weight:bold;
	padding: 4px 0px 0px 0px;	
	text-shadow:-1px -1px 0 rgba(178,178,178,0.3);	
}
.br-head-defbg
{	
	background-color:#3274B5 !important;
	background-image: url(../images/ui-elements/containers-holder/u1a.png); 
	clear:both !important;
}
.br-head-altbg
{	
	*background-color:#FFCC66 !important;
	background-image: url(../images/ui-elements/containers-holder/u1b.png); 
	clear:both !important;
	border-bottom:1px solid #EAEAEA;
}
div.br-barbg
{
	margin-top:0px !important;
	margin-bottom:0px  !important;
	clear:both !important;
	background-color:#E6E8ED  !important;
	height:23px  !important;
}
div.br-mid
{			
	-moz-border-radius-bottomright:0px;
	-moz-border-radius-bottomleft:0px;
	
	-webkit-border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;

	border-bottom-right-radius: 0px; 
	border-bottom-left-radius: 0px; 
	
	height:auto;
	background-color:#FFFFFF;
	border-color:#BCBCBC;
	border-style:solid;
	border-width:0px 1px 0px 1px;
	padding:0px;
	margin: 0px auto;
	
}
div.br-foot
{			
	-moz-border-radius-bottomright:7px;
	-moz-border-radius-bottomleft:7px;
	
	-webkit-border-bottom-right-radius:7px;
	-webkit-border-bottom-left-radius:7px;
	
	border-bottom-right-radius: 7px; 
	border-bottom-left-radius: 7px; 
	
	border-width:0px;
	
	border-color:#BCBCBC;
	border-style:solid;
	border-width:0px 1px 1px 1px;
	padding:2px;
	height:auto;
}	
div.br-content 
{
	padding:3px 15px 3px 15px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	text-align:left;
}
div.br-content-f 
{
	padding:0px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	text-align:left;
}
.br-modf-head
{
	clear:both;
	border-bottom:1px solid #EAEAEA;
	height:23px;
	padding-left:15px;
}

.br-modf-foot
{
	clear:both;
	border-top:1px solid #EAEAEA;
	height:23px;
	padding-left:15px;
	color:gray;
	font-size:11px;
	padding-top:10px;
}
		


		
/**** buttons ****/
.button-ico{float:left; margin-top:4px;margin-left:4px;}

a.button-icon {
	background-image: -moz-linear-gradient(top, #ffffff, #dbdbdb);
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, #ffffff),color-stop(1, #dbdbdb));
	filter: progid:DXImageTransform.Microsoft.gradient
		(startColorStr='#ffffff', EndColorStr='#dbdbdb');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient
		(startColorStr='#ffffff', EndColorStr='#dbdbdb')";
	border: 0px solid #fff;
	-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	padding: 5px 10px; 
	text-decoration: none;
	text-shadow: #fff 0 1px 0;
	margin-right: 5px;
	margin-bottom: 8px;
	display: inline-block;
	color: #597390;
	line-height: 12px;
	font-size: 11px;
	font-weight: bold;
	cursor:pointer; 
}
a.button-icon:hover {
	background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, #ffffff),color-stop(1, #eeeeee));
	filter: progid:DXImageTransform.Microsoft.gradient
		(startColorStr='#ffffff', EndColorStr='#eeeeee');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient
		(startColorStr='#ffffff', EndColorStr='#eeeeee')";
	color: #000;
	display: inline-block;
}

a.button-icon.icon-refresh { /*padding-left: 11px;  untuk spaci icon, awalnya */ padding-left: 3px; }
a.button-icon.icon-refresh span{
	/*padding-left: 36px; untuk spaci icon, awalnya */ 
	padding-left: 32px;
	background: url(../images/ui-elements/buttons/action-icon.png) no-repeat 0 -1px;
}

a.button-icon.icon-add { /*padding-left: 11px;  untuk spaci icon, awalnya */ padding-left: 3px; }
a.button-icon.icon-add span{
	/*padding-left: 36px; untuk spaci icon, awalnya */ 
	padding-left: 28px;
	background: url(../images/ui-elements/buttons/action-icon.png) no-repeat 0 -19px;
}
a.button-icon.icon-delete { /*padding-left: 11px;  untuk spaci icon, awalnya */ padding-left: 3px; }
a.button-icon.icon-delete span{
	/*padding-left: 36px; untuk spaci icon, awalnya */ 
	padding-left: 28px;
	background: url(../images/ui-elements/buttons/action-icon.png) no-repeat 0 -37px;
}

a.button-icon.icon-back { /*padding-left: 11px;  untuk spaci icon, awalnya */ padding-left: 3px; }
a.button-icon.icon-back span{
	/*padding-left: 36px; untuk spaci icon, awalnya */ 
	padding-left: 28px;
	background: url(../images/ui-elements/buttons/action-icon.png) no-repeat 0 -54px;
}

a.button-icon.icon-save { /*padding-left: 11px;  untuk spaci icon, awalnya */ padding-left: 3px; }
a.button-icon.icon-save span{
	/*padding-left: 36px; untuk spaci icon, awalnya */ 
	padding-left: 28px;
	background: url(../images/ui-elements/buttons/action-icon.png) no-repeat 0 -71px;
}

a.button	{ display:inline-block; height:23px; padding:0 0 0 3px; font-size:11px; font-weight:bold; color:#333; text-shadow:1px 1px 0 #fff; background:url(../images/ui-elements/buttons/buttons.png) 0 0 no-repeat; white-space:nowrap; border:none; overflow:visible; cursor:pointer; text-decoration:none; }
a.button > span		{ display:block; height:23px; padding:0 10px 0 8px; line-height:23px; background:url(../images/ui-elements/buttons/buttons.png) 100% 0 no-repeat; }
a.button:hover, a.button:focus, a.button-mo	{ color:#fff; text-decoration:none; text-shadow:-1px -1px 0 rgba(0,0,0,0.3); background-position:0 -30px; }
a.button:hover > span, a.button:focus > span, a.button-mo > span { background-position:100% -30px; }

a.button-red	{ background:url(../images/ui-elements/buttons/buttons.png) 0 -90px no-repeat; color:#fff; text-shadow:-1px -1px 0 rgba(0,0,0,0.3); }
a.button-red > span { background-position:100% -90px; }

a.button-orange { background:url(../images/ui-elements/buttons/buttons2.png) 0 -30px no-repeat; color:#fff; text-shadow:-1px -1px 0 rgba(0,0,0,0.3); }
a.button-orange > span { background-position:100% -30px; }
a.button-blue	{ background:url(../images/ui-elements/buttons/buttons.png) 0 -30px no-repeat; color:#fff; text-shadow:-1px -1px 0 rgba(0,0,0,0.3); }
a.button-blue > span { background-position:100% -30px; }
a.button-blue:hover, a.button-blue:focus, a.button-mo	{ color:#fff; text-decoration:none; text-shadow:-1px -1px 0 rgba(0,0,0,0.3); background-position:0 -90px; }
a.button-blue:hover > span, a.button-blue:focus > span, a.button-mo > span { background-position:100% -90px; }

a.button-white:hover, a.button-white:focus		{ color:#333; text-shadow:1px 1px 0 #fff; background-position:0 0; }
a.button-white:hover > span, a.button-white:focus > span	{ background-position:100% 0px; }



/* versi lama */
/* Round Container Defaults */
#search-container {
	padding:20px 0 30px;
}
#search-field {
	position:relative;
	bottom:1px;
}

/* Round Container Defaults */
.round-container {
    width:100%;
    font-family:Arial,Helvetica,sans-serif;
    font-size:12px;
    text-align:left;
}
    .round-top,
    .round-bottom {
        font-size:0pt;
	    height:3px;
	    padding-right:3px;
    }
    .round-top-fill,
    .round-bottom-fill {
        height:100%;
        zoom:1;
    }
    .round-body {
        height:auto;
    }
    .round-body-content {
        *padding:7px 10px;
        padding:0px 0px 0px 0px;
    }

/* Grey Borders & White Background */
.grey-white-container .back-left-image {
	background:transparent url(../images/ui-elements/containers/white-box-left.gif) no-repeat 0px top ;
}
.grey-white-container .back-right-image {
	background:transparent url(../images/ui-elements/containers/white-box-right.gif) no-repeat right top ;
}
/* Grey Borders & Lt Grey Background */
.grey-grey-container .back-left-image {
	background:transparent url(../images/ui-elements/containers/grey-box-left.gif) no-repeat 0px top ;
}
.grey-grey-container .back-right-image {
	background:transparent url(../images/ui-elements/containers/grey-box-right.gif) no-repeat right top ;
}
/* Blue Header & Grey Borders & White/Grey Background */
.blue-grey-white-container .back-left-image,
.blue-grey-grey-container .back-left-image {
	background:transparent url(../images/ui-elements/containers/blue-header-left.gif) no-repeat 0px top;
}
.blue-grey-white-container .back-right-image,
.blue-grey-grey-container .back-right-image {
	background:transparent url(../images/ui-elements/containers/blue-header-right.gif) no-repeat right top ;
}
.blue-grey-white-container .back-right-image.round-bottom {
	background:transparent url(../images/ui-elements/containers/white-box-right.gif) no-repeat right bottom ;
}
.blue-grey-white-container .back-left-image.round-bottom-fill {
    background:transparent url(../images/ui-elements/containers/white-box-left.gif) no-repeat 0px bottom;
}
.blue-grey-grey-container .back-right-image.round-bottom {
	background:transparent url(../images/ui-elements/containers/grey-box-right.gif) no-repeat right bottom ;
}
.blue-grey-grey-container .back-left-image.round-bottom-fill {
    background:transparent url(../images/ui-elements/containers/grey-box-left.gif) no-repeat 0px bottom ;
}
.blue-grey-white-container .text-top,
.blue-grey-grey-container .text-top {
	padding: 10px 10px 0pt;
	display:block;
	color: #FFFFFF;
	font-size:12px;
	font-weight:bold;
}

.grey-white-container .round-body,
.grey-grey-container .round-body,
.blue-grey-white-container .round-body,
.blue-grey-grey-container .round-body {
    border-left:1px solid #CCCCCC;
}
.grey-white-container .round-body-content,
.blue-grey-white-container .round-body-content {
    border-right:1px solid #CCCCCC;
	background-color: #FFFFFF;
}
.grey-grey-container .round-body-content,
.blue-grey-grey-container .round-body-content {
    border-right:1px solid #CCCCCC;
	background-color: #FAFAFA;
}
.grey-white-container .back-right-image.round-bottom,
.grey-grey-container .back-right-image.round-bottom {
    background-position:right bottom;
}
.grey-white-container .back-left-image.round-bottom-fill,
.grey-grey-container .back-left-image.round-bottom-fill {
    background-position:0px bottom;
}

.gridbox-tittle{
	background:transparent url(../images/icons/link_item-wh.png)  no-repeat scroll top left;
	color:white; 
	font-size:13px !important; 
	font-family: Lucida Sans,Verdana, sans-serif;  
	padding: 4px 4px 4px 23px; 
	border-bottom:1px solid white;
	margin-left:2px;
}

.gridbox-toggle{
}

a.sm-grey-btn,
a.md-grey-btn,
a.lg-yellow-btn {
	color:#000 !important;
}

/****** All Buttons Buttons *******/
a.dt-button {
    display: block;
    float: left;
    clear:left;
    color:#fff !important;
	font-family:Arial,Verdana,Helvetica !important;
	font-weight:bold !important;
	white-space:nowrap !important;
    text-decoration: none !important;
    cursor:pointer;
}

a.dt-button:hover,
* .dt-button:hover {
    background-position: center right !important;
}
	a.dt-button:hover span {
	    background-position: center left !important;
	}

a.dt-button.disabled,
a.dt-button.disabled:hover {
	background-position: bottom right !important;
	cursor:default;
}
	a.dt-button.disabled span,
	a.dt-button.disabled:hover span {
		background-position: bottom left !important;
	}

a.dt-button span {
    display: block;
	text-align:center;
	font-size:inherit;
}
a.sm-grey-btn,
a.md-grey-btn,
a.lg-yellow-btn {
	color:#000 !important;
}

a.sm-grey-btn.disabled,
a.md-grey-btn.disabled,
a.lg-yellow-btn.disabled {
	color:#666 !important;
}

/****** Small Buttons *******/
a.sm-blue-btn,
a.sm-grey-btn {
	font-size:11px !important;
	height: 20px;
    padding-right: 10px !important; /* sliding doors padding */
}

a.sm-yellow-btn{
	font-size:11px !important;
	height: 20px;
    padding-right: 10px !important; /* sliding doors padding */
	color:#666 !important;
}

a.sm-blue-btn {
    background: transparent url(../images/ui-elements/buttons/sm-blue-btn-rt.png) no-repeat scroll top right;
}

	a.sm-blue-btn span {
	    background: transparent url(../images/ui-elements/buttons/sm-blue-btn.png) no-repeat top left;
	}

a.sm-yellow-btn {
    background: transparent url(../images/ui-elements/buttons/sm-yellow-btn-rt.png) no-repeat scroll top right;
}

	a.sm-yellow-btn span {
	    background: transparent url(../images/ui-elements/buttons/sm-yellow-btn.png) no-repeat top left;
	}

a.sm-grey-btn {
    background: transparent url(../images/ui-elements/buttons/sm-grey-btn-rt.png) no-repeat scroll top right;
}

	a.sm-grey-btn span {
	    background: transparent url(../images/ui-elements/buttons/sm-grey-btn.png) no-repeat top left;
	}

	a.sm-blue-btn span,
	a.sm-yellow-btn span,
	a.sm-grey-btn span {
	    line-height: 10px;
		min-width:3px;
		_width:3px;
	    padding: 5px 0 5px 10px;
	}

/****** Medium Buttons *******/
a.md-blue-btn,
a.md-grey-btn {
	font-size:12px !important;
    height: 26px;
    padding-right: 10px !important; /* sliding doors padding */
}

a.md-blue-btn {
    background: transparent url(../images/ui-elements/buttons/md-blue-btn-rt.png) no-repeat scroll top right;
}

	a.md-blue-btn span {
	    background: transparent url(../images/ui-elements/buttons/md-blue-btn.png) no-repeat top left;
	}

a.md-grey-btn {
    background: transparent url(../images/ui-elements/buttons/md-grey-btn-rt.png) no-repeat scroll top right;
}

	a.md-grey-btn span {
	    background: transparent url(../images/ui-elements/buttons/md-grey-btn.png) no-repeat top left;
	}

	a.md-blue-btn span {
	color:#fff !important;
	}

	a.md-blue-btn span,
	a.md-grey-btn span {
	    line-height: 11px;
		min-width:19px;
		_width:29px;
		padding:7px 0 8px 10px;
	}

/****** Large Buttons *******/
a.lg-blue-btn,
a.lg-grey-btn,
a.lg-yellow-btn {
	font-size:18px !important;
    height: 39px;
    padding-right: 15px !important; /* sliding doors padding */
}

a.lg-blue-btn {
    background: transparent url(../images/ui-elements/buttons/lg-blue-btn-rt.png) no-repeat scroll top right;
}

	a.lg-blue-btn span {
	    background: transparent url(../images/ui-elements/buttons/lg-blue-btn.png) no-repeat top left;
	}

a.lg-grey-btn {
    background: transparent url(../images/ui-elements/buttons/lg-grey-btn-rt.png) no-repeat scroll top right;
}

	a.lg-grey-btn span {
	    background: transparent url(../images/ui-elements/buttons/lg-grey-btn.png) no-repeat top left;
	}
a.lg-grey-btn:hover,
* .lg-grey-btn:hover {
    background-position: bottom right !important;
}

	a.lg-grey-btn:hover span {
	    background-position: bottom left !important;
	}

a.lg-yellow-btn {
    background: transparent url(../images/ui-elements/buttons/lg-yellow-btn-rt.png) no-repeat scroll top right;
}

	a.lg-yellow-btn span {
	    background: transparent url(../images/ui-elements/buttons/lg-yellow-btn.png) no-repeat top left;
	}

	a.lg-blue-btn span,
	a.lg-grey-btn span,
	a.lg-yellow-btn span {
	    line-height: 15px;
		min-width:172px;
		_width:187px;
		font-size:18px;
		padding:11px 0 13px 15px;
	}

img{
	border:0;}

.HLink{color:blue;cursor:pointer; text-decoration: underline;}	
.ModuleTitle{
	font-size: 18px; 
	font-weight: bold;
	color: #e65c00;
	margin: 7px 10px 2px;
	font-family:Arial Black,Helvetica,sans-serif;
	text-shadow:1px 1px 0 rgba(255,255,255,0.5);
}	
	
.left-align {text-align:left! important;}
.left-pad-none {padding-left:0! important;}
.left-pad-5 {padding-left:5px! important;}
.left-pad-10 {padding-left:10px! important;}
.left-marg-10 {margin-left:10px! important;}

/**** Float ****/
.left {float:left;}
.right {float:right;}
.relative-left, .left-column {position:relative; float:left;}
.relative-right, .right-column {position:relative; float:right;}
.important-left {float:left!important;}
.important-right {float:right!important;}
.clear {clear:both;}

.right-align {text-align:right! important;}
.right-pad-none {padding-right:0! important;}
.right-pad-5 {padding-right:5px! important;}
.right-pad-10 {padding-right:10px! important;}
.top-pad-5 {padding-top:5px! important;}
.top-pad-10 {padding-top:10px! important;}
.bottom-pad-5 {padding-bottom:5px! important;}
.bottom-pad-10 {padding-bottom:10px! important;}
div.round-box {
	border:1px solid #CCCCCC;
	background-color: #FFFFFF;
}
div.j-round {
	text-align:left;
	float:left;
	padding:5px;
	display:block;
	position:relative;
	width:98%;
}
.secure-link {
	position:relative;
	background:transparent url(/images/ui-elements/icons/Icon_LockSm.png) no-repeat scroll 0 1px;
	padding:2px 0 2px 19px;
}
.small-txt {
	font-size:10px !important;
}

.top-pad-none {padding-top:0! important;}
.top-pad-5 {padding-top:5px! important;}
.top-pad-10 {padding-top:10px! important;}
.top-marg-none {margin-top:0! important;}
.top-marg-5 {margin-top:5px! important;}
.top-marg-10 {margin-top:10px! important;}
.top-marg-30 {margin-top:30px! important;}
.vert-marg-none {margin-top:0! important; margin-bottom:0! important;}
.vert-pad-10 {padding-top:10px! important; padding-bottom:10px! important;}
.vert-pad-5 {padding-top:5px! important; padding-bottom:5px! important;}
.vert-pad-1 {padding-top:1px! important; padding-bottom:1px! important;}
.vert-marg-5 {margin-top:5px! important; margin-bottom:5px! important;}
.vert-marg-10 {margin-top:10px! important; margin-bottom:10px! important;}

/*textarea*/
.form-textarea textarea {
	height:96px;
	overflow-y:scroll;
}
textarea.textarea-480 {
	width:480px;	
}
textarea.textarea-325 {
	width:325px;
}

label.field-caption{color:gray;}
/*text fields*/
input.text-600{width:600px;height:23px;}
input.text-550{width:550px;height:23px;}
input.text-500{width:500px;height:23px;}
input.text-450{width:450px;height:23px;}
input.text-400{width:400px;height:23px;}
input.text-325{width:325px;height:23px;}
input.text-225{width:225px;height:23px;}
input.text-225-search{width:200px;height:18px;margin-bottom:1px;}
input.text-175{width:175px;height:23px;}
input.text-135{width:135px;height:23px;}
input.text-135-search{width:135px;height:18px;margin-bottom:1px;}
input.text-65{width:65px;height:23px;}
input.text-35{width:35px;height:23px;}

.picker {
	cursor: pointer;
	width: 13px;
	height: 12px;
	display: inline-block;
	background: url('calendar-eightysix/calendar.gif') no-repeat;
	margin-left: -21px;
	margin-top: 4px;
	*position: absolute;
	display: inline;
}
.bold, strong {
	font-weight:bold! important;
}
.horiz-marg-auto {
	margin:0 auto;
}

/*
#domaintools-for-windows {
    background:transparent url(../images/icons/DT-summary.png) no-repeat scroll left 10px;
    padding: 10px 0 5px 29px;
    margin-left: 100px;
}
*/

#wpcumuluscontent {
    width: 600px;
    height: 450px;
    z-index: 0;
}

/*
global floating tooltips 
*/

.global-floating-tip {
	*background-color: #0026FF;
	*background-color: #4572A7;
	background-color: rgba(69,114,167,0.8);
	padding: 5px 15px;
	color: #fff;
	font-weight: bold;
	font-size: 11px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	z-index:21090333333;
	
}
/*
Slider Openlayer Style
*/

div.slider-default {
	width: 400px;
	margin: 5px 0;
	background: url(slider/slider.png) 0 center repeat-x;
}div.slider-knob-default {
	height: 12px;
	width: 12px;
	background: no-repeat center center;
	cursor: pointer;
}
div.knob-default-red {
	background-image: url(slider/red.png);
}
div.knob-default-green {
	background-image: url(slider/green.png);
}
div.knob-default-blue {
	background-image: url(slider/blue.png);
}



/* *** contekan **** 
#main {
	margin-left:15em;
	padding:0 3em 1em;
	background: #eaeaea;
	border:3px solid #708090;
}

#nav-one {
	position:absolute;
	top: 6em;
	left:0;
	width:15em;
	background: #f5f5f5;
	color: maroon;
	border:0px solid #c0c0c0;
	text-align: right;
}

#nav-one p {padding:0.5em;}

.nav-two {
	margin-left: 0.5em;
	margin-right: 0.5em;
	background: #708090;
	color:#fff;
	margin-top:10px;
}

.nav-three {
	margin-left: 0.5em;
	margin-right: 0.5em;
	background: #008b8b;
	color:#fff;
	margin-top:10px;
}

.menu-image{
	text-align: right; 
	vertical-align: top; 
    width:20px;
}

.menu-description {
	text-align: left;
	*padding-top: 10px;
	*vertical-align: top; 
}
.menu-link {
	font-size:1.1em;
}

#footer {
	width:90%;
	text-align:center;
	margin-top:20px;
	padding: 0.5em;
	color:#009;
	background:#ccc;
	border:3px solid #708090;
}
*/


